.ancho {
    width: 80%;
}

.userCard {
    margin-top: 10px;
    width: auto;
}

.myInputs {
    max-width: 500px;
}

button {
    margin: 5px;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.pointer {
    cursor: pointer;
    margin: 5px;
}

.myButtons { 
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}